.vux-slider {
  text-align: left;
}

.group {
  padding: 0.5rem;
}

/deep/.weui-cells {
  margin-top: 0;
}

/deep/.weui-grid {
  padding: 15px 10px;

  .weui-grid__icon {
    width: 42px;
    height: 42px;
  }

  .weui-grid__label span {
    color: #3a3a3a;
    font-size: 12px;
  }
}

.vux-header .vux-header-left button,
.vux-header .vux-header-right a,
.vux-header .vux-header-right button,
/deep/.vux-header .vux-header-left a {
  color: white;
}

.vux-header {
  background: #00b2ff;
}

.grid-center {
  display: block;
  text-align: center;
  color: #666;
}

.weui-grids {
  background-color: #fff;
}
