.weui-tabbar {
  background: white;
  transition: all .3s;
  -moz-transition: all .3s; /* Firefox 4 */
  -webkit-transition: all .3s; /* Safari 和 Chrome */
  -o-transition: all .3s; /* Opera */

  .weui-tabbar__item {
    padding: 8px 0 2px;
    /deep/.weui-tabbar__icon {
      width: 24px;
      height: 24px;
    }
    /deep/.weui-tabbar__label {
      margin-top: 2px;
    }
  }

  .active {
    span {
      color: #0098e1;
      font-weight: 900;
    }
  }
}

/deep/.weui-tabbar__item.weui-bar__item_on .weui-tabbar__label {
  color: #999;
}
