//全局公共样式

* {
  padding: 0;
  margin: 0;
  font-family: 'arial';
  vertical-align: middle;
}
//公共css方法
//padding为0

.box {
  margin: 0.5rem;
}

h3 {
  line-height: 44px;
  margin-bottom: 2rem;
  font-size: 32px;
  color: #666;
}

img {
  vertical-align: middle;
}

.title {
  padding: 1rem;

  h2 {
    text-align: left;
    font-size: 14px;
    font-weight: 800;
    position: relative;
    text-indent: 15px;
  }

  h2:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    margin-right: 5px;
    border-left: 4px solid #85daff;
    color: #D9D9D9;
  }

  .title2 {
    text-align: left;
    font-size: 12px;
    position: relative;
    text-indent: 15px;
  }

  .title2:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    margin-right: 5px;
    border-left: 4px solid #85daff;
    color: #D9D9D9;
  }
}

.weui-grid:after {
  border-bottom: 7px solid #f1f1f1;
}

.weui-grid:before {
  border-right: 7px solid #f1f1f1;
}

.weui-grids:before {
  border-top: 10px solid #f1f1f1;
}

/deep/.weui-cells:after {
  border-bottom: 10px solid #f1f1f1;
}

.weui-panel {
  .weui-media-box__bd {
    text-align: left;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.slid_up-enter-active,
.slid_up-leave-active {
  transition: all 0.1s;
}

.slid_up-enter,
.slid_up-leave-active {
  transform: translate3d(0,5rem,0);
}

.router-slid-enter-active,
.router-slid-leave-active {
  transition: all 0.2s;
}

.router-slid-enter,
.router-slid-leave-active {
  transform: translate3d(2rem, 0, 0);
  opacity: 0;
}

.layout {
  .ivu-layout {
    background: white;
  }

  .noPadding {
    padding: 0;
  }
}
//media query

.ivu-layout-content {
  width: 100%;
  position: relative;
  padding: 0 15px;
  margin: 0 auto;

  p {
    font-size: 1rem;
    margin: 1rem 0;
    text-align: left;
  }
}

.contentPadding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (min-width:540px) {
  .ivu-layout-content {
    width: 480px;
  }
}
@media (min-width:760px) {
  .ivu-layout-content {
    width: 700px;
  }
}
@media (min-width:980px) {
  .ivu-layout-content {
    width: 920px;
  }
}
@media (min-width:1200px) {
  .ivu-layout-content {
    width: 1140px;
  }
}
